.card {
	color: #00659b;
	display: inline-block;
	margin: 2.5%;
}

.center {
	text-align: center;
}

.big-card {
	width: 75%;
}

.home-menu a {
	color: black;
	display: inline;
	font-size: 150%;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	padding-bottom: 30px;
}

.home-menu a:hover {
	color: #00659b;
	text-decoration: none;
}

.jumbotron-fluid {
	background-color: #00659b;
	color: white;
	margin-bottom: 30px;
	padding-bottom: 30px;
	padding-top: 50px;
}

.jumbotron-fluid img {
	border: thick solid white;
	margin-bottom: 20px;
	width: 30%;
}

.jumbotron-fluid p {
	padding-bottom: 10px;
	padding-left: 10px;
}

.navbar img {
	width: 30px;
}

.navbar-menu li {
	font-size: 125%;
}

.profile {
	color: white;
}

.profile-pict hr {
	border-top: 2px solid white;
	margin-top: 5px;
	width: 180px;
}

.profile-pict img {
	border: thick solid white;
	width: 20%;
}

.small-card {
	width: 35%;
}

#activitybutton a {
	margin-left: 2%;
}

button {
	float: right;
}

form {
	margin: 10%;
}

form label {
	color: white;
}

h1 {
	color: white;
}

hr {
	border-top: 1.5px solid #333;
}

table {
	color: white;
	margin-top: 2%;
}