{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Mikhael's Activity</title>
  </head>
  <body style="background-color: #00659b">
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <img src="{% static 'img/mikhael.jpg' %}" class="rounded-circle navbar-brand">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-menu navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile/">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/activity/">Activity</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div>
      <h1 class="display-4 text-center" style="font-variant: small-caps;">My Activity</h1>
    </div>

    <div id="activitybutton">
      <a href="{% url 'activity:addactivity' %}" class="btn btn-outline-light">Add Activity</a>
      <a href="{% url 'activity:deleteactivity' %}" class="btn btn-outline-warning">Delete All Activities</a>
    </div>
    
    {% if activities %}
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope='col'>Activity</th>
            <th scope='col'>Place</th>
            <th scope='col'>Category</th>
            <th scope='col'>Date</th>
            <th scope='col'>Time</th>
          </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
          <tr>
            <td>{{ activity.name }}</td>
            <td>{{ activity.place }}</td>
            <td>{{ activity.category }}</td>
            <td>{{ activity.time }}</td>
            <td>{{ activity.tanggal }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>