{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Mikhael's Profile</title>
  </head>
  <body style="background-color: #00659b">
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <img src="{% static 'img/mikhael.jpg' %}" class="rounded-circle navbar-brand">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-menu navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile/">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/activity/">Activity</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- name and profile picture -->
    <section class="profile-pict">
      <div class="container text-center">
        <div class="row pt-5">
          <div class="col-md">
            <img src="{% static 'img/mikhael.jpg' %}" class="rounded-circle">
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <h1 class="display-4" style="font-variant: small-caps;">Mikhael</h1>
            <hr>
          </div>
        </div>
      </div>
    </section>


    <!-- main profile -->
    <section class="profile">
      <div class="container text-justify">
        <div class="row my-1">
          <div class="col-md-3"><p>Birth</p></div>
          <div class="col-md-6"><p>Jakarta, 2 May 1999</p></div>
        </div>
        <hr>
        <div class="row my-1">
          <div class="col-md-3"><p>Address</p></div>
          <div class="col-md-6"><p>Jl. Kejayaan Dalam no. 57 Krukut, Taman Sari, Jakarta Barat</p></div>
        </div>
        <hr>
        <div class="row my-1">
          <div class="col-md-3"><p>Phone Number</p></div>
          <div class="col-md-6"><p>085286634487</p></div>
        </div>
        <hr>
        <div class="row my-1">
          <div class="col-md-3"><p>E-mail</p></div>
          <div class="col-md-6"><p>mikhaelbuntaran@gmail.com</p></div>
        </div>
      </div>
    </section>

    <!-- skills and hobbies -->
    <div class="center blue-font">
      <div class="card small-card">
        <div class="card-header">Skills</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            teamwork and leadership
          </li>
          <li class="list-group-item">
            html and css
          </li>
          <li class="list-group-item">
            python
          </li>
          <li class="list-group-item">
            java
          </li>
        </ul>
      </div>
      <div class="card small-card">
        <div class="card-header">Hobbies</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            listening to music
          </li>
          <li class="list-group-item">
            playing video games
          </li>
          <li class="list-group-item">
            reading
          </li>
          <li class="list-group-item">
            watching movies
          </li>
        </ul>
      </div>
    </div>

    <!-- education -->
    <div class="center">
      <div class="card big-card">
        <div class="card-header">Education</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p>2017 - now</p>
            <p>Faculty of Computer Science, Universitas Indonesia</p>
          </li>
          <li class="list-group-item">
            <p>2014 - 2017</p>
            <p>Ketapang High School</p>
          </li>
          <li class="list-group-item">
            <p>2011 - 2014</p>
            <p>Ketapang Junior High School</p>
          </li>
          <li class="list-group-item">
            <p>2005 - 2011</p>
            <p>Haleluya Elementary School</p>
          </li>
        </ul>
      </div>
    </div>

    <!-- experiences -->
    <div class="center">
      <div class="card big-card">
        <div class="card-header">Experiences</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p>2018</p>
            <p>Staff Departemen Keilmuan BEM Fasilkom UI</p>
          </li>
          <li class="list-group-item">
            <p>2018</p>
            <p>Wakil Penanggung Jawab E-Vote Pemira UI</p>
          </li>
          <li class="list-group-item">
            <p>2017 - 2018</p>
            <p>Ketua Teen Ministry GKRI Dwiwarna</p>
          </li>
          <li class="list-group-item">
            <p>2018</p>
            <p>Staff of Food and Beverage at Compfest</p>
          </li>
          <li class="list-group-item">
            <p>2018</p>
            <p>Staff Danus Retreat Keluarga Fasilkom</p>
          </li>
          <li class="list-group-item">
            <p>2018</p>
            <p>Mentor Orientasi Kehidupan Kampus UI</p>
          </li>
          <li class="list-group-item">
            <p>2018</p>
            <p>Staff Konsumsi Wisuda Genap Fasilkom UI</p>
          </li>
          <li class="list-group-item">
            <p>2018</p>
            <p>Staff LO Wisuda Ganjil Fasilkom UI</p>
          </li>
        </ul>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>